In [1]:
fruits = {'banana':3,'apple':2, 'mango':1, 'kiwi':5}

In [7]:
fruits

{'apple': 2, 'banana': 3, 'kiwi': 5, 'mango': 1}

In [8]:
fruits.items()

dict_items([('banana', 3), ('apple', 2), ('mango', 1), ('kiwi', 5)])

In [15]:
fruits_list = []
for fruit, count in fruits.items():
    fruits_list.append([fruit] * count)
    
fruits_list

[['banana', 'banana', 'banana'],
 ['apple', 'apple'],
 ['mango'],
 ['kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi']]

In [33]:
fruits = ['banana','apple', "blueberry", "raspberry", "cranberry", "elderberry", 'mango', 'kiwi']

In [19]:
fruits.sort(key=len)

In [20]:
fruits

['kiwi', 'apple', 'mango', 'banana']

In [21]:
fruits[0]

'kiwi'

In [22]:
min(fruits, key=len)

'kiwi'

In [34]:
shortest_fruit = fruits[0]
shortest_length = len(shortest_fruit)

for fruit in fruits[1:]:
    current_fruit_length = len(fruit)
    if current_fruit_length < shortest_length:
        print(fruit, "je kratší než", shortest_fruit)
        shortest_length = current_fruit_length
        shortest_fruit = fruit
    print("Prošel jsem ovoce {}.".format(fruit))

apple je kratší než banana
Prošel jsem ovoce apple.
Prošel jsem ovoce blueberry.
Prošel jsem ovoce raspberry.
Prošel jsem ovoce cranberry.
Prošel jsem ovoce elderberry.
Prošel jsem ovoce mango.
kiwi je kratší než apple
Prošel jsem ovoce kiwi.

In [30]:
shortest_fruit

'kiwi'

In [35]:
shortest_fruit_len = []
for fruit in fruits:
    shortest_fruit_len.append([len(fruit), fruit])

In [37]:
shortest_fruit_len.sort()

In [39]:
shortest_fruit_len[0][1]

'kiwi'

In [41]:
input('Zadej celé číslo: ')

Zadej celé číslo: 56567

'56567'

In [42]:
int('56567')

56567

In [44]:
int(input('Zadej celé číslo: '))

Zadej celé číslo: Jedna

ValueError: invalid literal for int() with base 10: 'Jedna'

In [47]:
x = int(input('Zadej celé číslo: ')) #funkce input načítá data ze standardního vstupu (klávesnice)
# funkce int převede zadaná data na celé číslo
if x % 2 == 0:
    print(x, 'je sudé')
else:
    print(x, 'je liché')

Zadej celé číslo: 657
657 je liché

In [48]:
fruits

['banana',
 'apple',
 'blueberry',
 'raspberry',
 'cranberry',
 'elderberry',
 'mango',
 'kiwi']

In [49]:
"apple" in fruits

True

In [50]:
"tvarůžek" in fruits

False

In [51]:
names_list = ['Jiří', 'Jan', 'Marie', 'Petr', 'Jana', 'Josef', 'Pavel', 'Martin', 'Jaroslav', 'Tomáš', 'Eva', 'Miroslav', 'Hana', 'Anna', 'Zdeněk', 'František', 'Václav', 'Michal', 'Lenka', 'Kateřina']

In [52]:
names_list

['Jiří',
 'Jan',
 'Marie',
 'Petr',
 'Jana',
 'Josef',
 'Pavel',
 'Martin',
 'Jaroslav',
 'Tomáš',
 'Eva',
 'Miroslav',
 'Hana',
 'Anna',
 'Zdeněk',
 'František',
 'Václav',
 'Michal',
 'Lenka',
 'Kateřina']

In [58]:
names_lower = []
for name in names_list:
    names_lower.append(name.lower())

In [64]:
name = input("Jak se jmenuješ? ")

Jak se jmenuješ? michal

In [65]:
if name.lower() in names_lower:
    print("Ahoj kámo!")
else:
    print("Neznám Tě, jdu pryč.")

Ahoj kámo!

In [67]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
list(range(2, 8))

[2, 3, 4, 5, 6, 7]

In [72]:
for i in range(5, 10, 3):
    print(i)

5
8

In [73]:
[]

[]

In [74]:
[1, 2, 3]

[1, 2, 3]

In [75]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
squares = [cislo**2 for cislo in range(10) if cislo % 2 == 1]

In [83]:
squares

[1, 9, 25, 49, 81]

In [81]:
squares = []
for cislo in range(10):
    if cislo % 2 == 1:
        squares.append(cislo ** 2)
    
squares

[1, 9, 25, 49, 81]

In [90]:
friends_list = ['Stefan', 'Jitka', 'Vojta', 'Marketa', 'Pavla']
friends_list

['Stefan', 'Jitka', 'Vojta', 'Marketa', 'Pavla']

In [92]:
[friend + " je super!" for friend in friends_list]

['Stefan je super!',
 'Jitka je super!',
 'Vojta je super!',
 'Marketa je super!',
 'Pavla je super!']

In [93]:
[friend.append(" je super!") for friend in friends_list]

AttributeError: 'str' object has no attribute 'append'

In [84]:
seq = 'ACTGCTCAAG'

In [94]:
len(seq)

10

In [96]:
list(range(len(seq)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [97]:
[a for a in range(len(seq))]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [88]:
[a for a in range(len(seq)) if seq[a] == 'A']

[0, 7, 8]

In [98]:
x = 0
while True:
    x = x + 1

KeyboardInterrupt:

In [99]:
x

88230463

In [100]:
d = {'a':'alfa', 'b':'bravo', 'c':'charlie', 'd':'delta', 'e':'echo', 'f':'foxtrot', 'g':'golf', 'h':'hotel', 'i':'india', 'j':'juliett', 'k':'kilo', 'l':'lima', 'm':'mike', 'n':'november', 'o':'oscar', 'p':'papa', 'q':'quebec', 'r':'romeo', 's':'sierra', 't':'tango', 'u':'uniform', 'v':'victor', 'w':'whiskey', 'x':'x-ray', 'y':'yankee', 'z':'zulu'}
d

{'a': 'alfa',
 'b': 'bravo',
 'c': 'charlie',
 'd': 'delta',
 'e': 'echo',
 'f': 'foxtrot',
 'g': 'golf',
 'h': 'hotel',
 'i': 'india',
 'j': 'juliett',
 'k': 'kilo',
 'l': 'lima',
 'm': 'mike',
 'n': 'november',
 'o': 'oscar',
 'p': 'papa',
 'q': 'quebec',
 'r': 'romeo',
 's': 'sierra',
 't': 'tango',
 'u': 'uniform',
 'v': 'victor',
 'w': 'whiskey',
 'x': 'x-ray',
 'y': 'yankee',
 'z': 'zulu'}

In [104]:
name = input("Jak se jmenuješ? ")

Jak se jmenuješ? Papa

In [105]:
for letter in name.lower():
    print(d[letter])

papa
alfa
papa
alfa